.header .titles {
    width: 14.192978723404255%;
}

.grid {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 80vw;
    max-height: 80vh;
}
.grid .gridRow {
    display: flex;
    position: relative;
}
.grid .gridRow:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.grid .box {
    flex: 1 0 auto;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}
.grid .box:not(.disabled) {
    cursor: pointer;
}
.grid .box:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.grid .box:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}
.grid .box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid .box.crossed .inner {
    background: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) calc(50% - 0.8px),
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0) calc(50% + 0.8px),
        rgba(0, 0, 0, 0) 100%
    );
}
.grid .box .inner .number {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
}
.grid .box .inner .currentPrice {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
}

.grid .reservationRow {
    position: absolute;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.grid .reservationRow > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grid .reservation {
    pointer-events: auto;
    cursor: pointer;
}

@for $i from 1 through 7 {
    .grid .days-#{$i} {
        width: percentage($i/7);
    }
}

.grid .reservation .full {
    height: 30%;
    overflow: hidden;
}

.grid .start {
    justify-content: flex-end;
}

.grid .startRounded {
    margin-left: 20%;
    width: 30%;
    height: 30%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.grid .startRounded:first-child {
    margin-left: 20%;
}

.grid .startRounded.withEnd {
    margin-left: 5%;
}

@for $i from 1 through 7 {
    .grid .days-#{$i} .startRounded {
        width: percentage(0.3 * 1 / $i);
        margin-left: percentage(0.2 * 1 / $i);
    }
    .grid .not-reservation + .reservation.days-#{$i},
    .grid .days-#{$i}:nth-child(1) {
        .startRounded {
            width: percentage(0.3 * 1 / $i);
            margin-left: percentage(0.05 / $i);
        }
    }
}

.grid .startRounded img {
    border-radius: 50%;
    height: 80%;
    margin: 10%;
}

.grid .start {
    width: 50%;
    height: 30%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: flex-start;
}

@for $i from 1 through 7 {
    .grid .days-#{$i} .start {
        width: percentage(1 - 0.5 / $i);
    }
    .grid .not-reservation + .days-#{$i},
    .grid .days-#{$i}:nth-child(1) {
        .start {
            width: percentage(1 - 0.5 / $i + 0.15);
        }
    }
}

.grid .full {
    width: 100%;
    height: 30%;
    z-index: 1;
}

.grid .end {
    justify-content: flex-start;
}

.grid .endRounded {
    height: 30%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    // clip-path: inset(0px 0px 0px 50%);
}

@for $i from 1 through 7 {
    .grid .days-#{$i} .endRounded {
        width: percentage(0.3 / $i);
        margin-left: percentage(-0.15 / $i);
        margin-right: percentage(-0.15 / $i);
    }
    // .grid .days-#{$i}:last-child {
    //      .endRounded {
    //         display: none;
    //     }
    // }
}
